div.amazing {
  width: 100%;
  height: 280px;
}

div.amazing > div.amazing-slider-top {
  width: 80%;
  height: inherit;
  background-color: crimson;
  margin: 0 auto;
  border-radius: 20px;
}

div.test {
    background-color: crimson;
}

div.amz-first-img > img {
  margin: auto;
  padding-top: 50px;
  width: 150px;
}

div.amz-img > img {
  margin: auto;
  padding-top: 50px;
  width: 150px;
}

div.amz-price > span {
  font-size: 20px;
  /* font-family: ; */
}

div.amz-offer > span {
  font-size: 18px;
  /* font-family: ; */
  text-decoration: line-through;
}

/* .test {
  flex-flow: column wrap;
} */
