div.clear {
  clear: both;
}
div.under-amz-market {
  width: 100%;
  height: 235px;
}

div.under-amz-market > div.under-amz {
  width: 80%;
  height: 235px;
  margin: 0 auto;
}

div.under-amz-market > div.under-amz > div.under-imz-images {
  display: inline-block;
  margin: 0 1px;
}

div.under-amz-market > div.under-amz > div.under-imz-images > img {
  border-radius: 10px;
  height: 235px;
}
